<div class="row menu-frontpage">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center"><h2>Opprett et nytt lag</h2></div>

                <div class="panel-body">
                    <router-link to="/team/create">
                        <p style="text-align: center;">
                            Ønsker du å opprette et lag?
                        <span class="glyphicon glyphicon-edit"></span>
                        </p>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center"><h2>Rediger eksisterende</h2></div>

                <div class="panel-body">
                    <router-link to="/team/edit">
                        <p style="text-align: center;">
                            Rediger et eksisterende lag?
                            <span class="glyphicon glyphicon-edit"></span>
                        </p>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</div>
